#Container_Menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1432px;
    height: 60px;
   
}

.Menu_left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    width: 200px;
    height: 30px;
    position: relative;
    top: 16px;
    left:128px;
    font-family: Arial, Helvetica, sans-serif;
}

.Menu_right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    position: relative;
    left: 996px;
    bottom: 16px;
    width: 300px;
    height: 30px;
}

#container_1{
    display: flex;
    position: relative; 
    top: 0px; 
    left: 0px; 
    width: 1440px; 
    height: 354px; 
    background: #FFFFFFFF;
    border-radius: 0px; 
}

.container_1_text1{
    position: absolute;
    top: 50px;
    left: 140px;
    width: 280px;
    height: 50px;
    font-size: 52px;
}

.container_1_txt{
    position: absolute;
    top: 160px;
    left: 140px;
    width: 710px;
    height: 50px;
    font-size: 20px;
}

.container_1_image{
    position: absolute;
    top: 47px;
    left: 1115px;
}

#container_2{
    display: flex;
    width: 1443px;
    height: 2060px;
}

.layer1{
    display: flex;
    width: 1176px;
    height: 407px;
    background-color:#DFFBD0;
    position: absolute;
    left: 128px;
    border-radius:  4px 4px 4px 4px  ;
}

.layer3{
    display: flex;
    width: 1176px;
    height: 407px;
    background-color:#DFFBD0;
    position: absolute;
    top: 1383px;
    left: 128px;
    border-radius:  4px 4px 4px 4px  ;
}

.layer4{
    display: flex;
    width: 1176px;
    height: 407px;
    background-color:#FFE1E7;
    position: absolute;
    top: 1880px;
    left: 128px;
    border-radius:  4px 4px 4px 4px  ;
}

.container_2_text{
    position: absolute;
    left: 45px;
    top: 50px;
    font-size: 16px;
}

.container_2_text1{
    position: absolute;
    top: 20px;
    width: 350px;
}

.container_2_text2{
    position: absolute;
    top: 70px;
    width: 400px;
}

.container_2_Image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 690px;
    height: 407px;
    position: absolute;
    left: 465px;
}

.container_2_Image_center{
    position: relative;
    bottom: 22px;
}

.container_2_text3{
    position: relative;
    top: 200px;
}

.layer2{
    display: flex;
    width: 1176px;
    height: 407px;
    background-color:#FFE1E7;
    position: absolute;
    top: 900px;
    left: 128px;
    border-radius:  4px 4px 4px 4px  ;
}

.container_2_Image_layer2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 690px;
    height: 407px;
    position: absolute;
    left: 465px;

}

.layer2_image29{
    position: relative;
    top: 30px;

}

.layer2_image31{
    position: relative;
    bottom: 30px;
}

#container_3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1520px;
    height: 421px;
    background-color: #1D2128FF;
}

.layer_container3{
    position: absolute;
    top: 2510px;
    left: 150px;
    width: 466px; 
    height: 148px; 
    font-family: Sarabun; 
    font-size: 52px; 
    line-height: 74px; 
    color: #FFFFFFFF; 
}

.form-group{
    width: 588px;
    height: 48px;
    position: absolute;
    top :2510px;
    right: 200px;
    background-color: #1D2128FF;
}


.form-group1{
    width: 588px;
    height: 200px;
    position: absolute;
    top :2590px;
    right: 200px;
}

.btn{
    width: 173px;
    height: 52px;
    position: absolute;
    top :2680px;
    right: 610px;
}

.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 30px;
    position: absolute;
    top :2700px;
    right: 1170px;
}

.container3_text6{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 2750px;
    right: 1020px;
}

.text6{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 30px;
    color: white;
}