#TieuDe{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    
    margin-left: 100px;
}
#Center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 1100px;
    margin-left: 200px;
    
}
#Bot{
    background-color: rgb(17, 17, 41);
    color: aliceblue;
}